body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  background-color: white;
  border: none;
  border: 2px solid black;
  padding: 10px 30px;
  text-align: center;
  font-size: 1rem;
  box-shadow: 2px 2px black;
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease;
  transform: scale(1.1);
  box-shadow: none;
}
.action {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  word-wrap: break-word;
  max-width: 150px;
}

.commands {
  margin: 40px 0;
}
